.button {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 237px;
    height: 56px;
    padding: 16px;
    border-radius: var(--border-radius);
}

.button svg:first-of-type {
    width: 20px;
    height: auto;
}

.button span {
    flex-grow: 1;
    text-align: left;
}