a {
    text-decoration: none;
    color: var(--clr-purple-pri);
}

button,
label[data-select='true'] > div:first-of-type {
    cursor: pointer;
}

label {
    position: relative;
    display: grid;
    row-gap: 8px;
    font: var(--font-body-sm);
    color: var(--clr-dark-grey);
}

label::after {
    position: absolute;
    right: 16px;
    color: var(--clr-red);
    bottom: 15px;
    pointer-events: none;
}

label:has(input[type='email'].invalid)::after,
label:has(input[data-url='true'].invalid)::after {
    content: 'Can\'t be empty';
}

label:has(input[data-url='true'].invalid_url)::after {
    content: 'Please check the URL';
}

label:has(input[type='password'].invalid)::after {
    content: 'Please check again';
}

label > svg:first-child {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 16px;
    height: auto;
}

input {
    padding-left: 44px;
    font: var(--font-body-md);
    color: var(--clr-dark-grey);
    height: 48px;
    border: 1px solid var(--clr-border);
    border-radius: var(--border-radius);
    transition: 0.3s ease;
    caret-color: var(--clr-purple-pri);
}

label:has(input.invalid) span {
    color: var(--clr-red);
}

input::placeholder {
    color: var(--clr-dark-grey);
    opacity: 0.5;
}

input:is(:focus, :hover) {
    outline: none;
    border: 1px solid var(--clr-purple-pri);
    box-shadow: 0 0 32px var(--clr-purple-shadow);
}

input.invalid {
    border-color: var(--clr-red);
}