a {
    text-decoration: none;
    color: var(--clr-purple-pri);
}

label {
    position: relative;
    display: grid;
    row-gap: 8px;
    font: var(--font-body-sm);
    color: var(--clr-dark-grey);
}

label > svg {
    position: absolute;
    left: 16px;
    bottom: 16px;
}

input,
select {
    padding-left: 44px;
    font: var(--font-body-md);
    color: var(--clr-dark-grey);
    height: 48px;
    border: 1px solid var(--clr-border);
    border-radius: var(--border-radius);
}

input {
    transition: 0.3s ease;
    caret-color: var(--clr-purple-pri);
}

input::placeholder {
    color: var(--clr-dark-grey);
    opacity: 0.5;
}

:where(input, select):is(:focus, :hover) {
    outline: none;
    border: 1px solid var(--clr-purple-pri);
    box-shadow: 0 0 32px var(--clr-purple-shadow);
}

select {
    appearance: none;
}

label:has(select)::after {
    content: url('/icon-chevron-down.svg');
    position: absolute;
    bottom: 13px;
    right: 16px;
}