.btn,
.alt_btn {
    font: var(--font-head-sm);
    height: 46px;
    border-radius: var(--border-radius);
    width: 100%;
}

.btn {
    color: var(--clr-white-pri);
    background-color: var(--clr-purple-pri);
    border: none;
}

.alt_btn {
    color: var(--clr-purple-pri);
    background-color: var(--clr-white-pri);
    border: 1px solid var(--clr-purple-pri);
}