.main {
    height: 100vh;
    height: 100dvh;
    padding: 32px;
}

@media screen and (max-width: 480px) {
    .main a {
        display: block;
    }
}

@media screen and (min-width: 481px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.header,
.form {
    width: 100%;
    max-width: 476px;
    margin-inline: auto;
}

@media screen and (min-width: 480px) {
    .header,
    .form {
        padding: 20px;
    }
}

.header {
    margin-top: 64px;
    margin-bottom: 40px;
}

@media screen and (min-width: 480px) {
    .header {
        margin-bottom: 20px;
    }
}

.header p {
    margin-top: 8px;
}

.form {
    display: grid;
    row-gap: 24px;
    margin-bottom: 24px;
}

.form > p:not(:first-of-type) {
    margin-top: -20px;
}

.password_reqs,
.login_failure {
    font: var(--font-body-sm);
}

.login_failure {
    color: var(--clr-red);
}