.main {
    position: relative;
    min-height: calc(100vh - 28px);
    min-height: calc(100dvh - 28px);
}

.btn_div {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-block: 16px;
    padding-inline: 24px;
}

@media screen and (min-width: 501px) {
    .btn_div_wrapper {
        padding: 24px;
    }

    .btn_div {
        background-color: var(--clr-white-pri);
        border-radius: 12px;
    }

    .btn_div button {
        width: fit-content;
        padding-inline: 27px;
    }
}

.background {
    position: absolute;
    background-color: var(--clr-purple-pri);
    height: 357px;
    width: 100%;
    z-index: -1;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

@media screen and (max-width: 500px) {
    .background {
        display: none;
    }
}